html {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.6rem; /* 16px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix::after {
  display: block;
  content: ' ';
  clear: both;
}

.header,
.main,
.side-menu,
.footer {
  border: 1px solid #aaa;
  background-color: #ccc;
}

.header,
.footer {
  height: 100px;
}

.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url(../img/bg-header.gif) repeat-x;
}

.container {
  width: 970px;
  margin: 30px auto 40px;
}

.main,
.side-menu {
  height: 500px;
}

.main {
  display: block;
  width: 660px;
  float: left;
}

.side-menu {
  width: 275px;
  float: right;
}

.footer {
  width: 100%;
}
