html {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.6rem; /* 16px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix::after {
  display: block;
  content: ' ';
  clear: both;
}
